body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
.content {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 80px;
    position: relative;

    @media (max-width: 800px) {
        margin-top: 75px;
    }
    }
    
.filetree-sidebar {
    height: 100%;
    width: 320px;
    h1 {
        font-size: 28px !important;
    }
    }
    
.search-button {
    width: 100%
    border-radius: 2px;
    }
    
.notelink {
    padding: 5px 0 5px 32px;
}
.notelink.active-note {
    transform: translateX(1px);
}
}
