body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
.content {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 80px;
    position: relative;

    @media (max-width: 800px) {
        margin-top: 74px;
    }
}
    
.filetree-sidebar {
    height: 100%;
    width: 320px;
    border-right: 1px solid #eeeeee;
    h1 {
        font-size: 32px !important;
        text-align: left !important;
        padding-left: 32px;
    }
}
      
.notelink {
    padding: 5px 0 5px 32px;
}
.notelink.active-note {
    transform: translateX(0px);
    border-radius: 6px;
    margin-right: 8px
}
    
.graph {
    .graph-title-container {
        display: inline;
        width: 100%;
    }
    .graph-title {
        width: fit-content;
        background-color: var(--background-secondary);
        margin: 10px 0 0 0;
        padding: 8px 16px;
        font-size: 1.2rem !important;
        border-radius: 4px 4px 0 0;
        color: var(--h6-color);
    }
}
#link-graph {
    background-color: var(--background-secondary);
    margin-bottom: 20px;
    border-radius: 0px 0 4px 4px;
    padding: 16px;
    width: fit-content;
}
    
.toc {
    padding-right: 5px;
    padding: 0px;
    background-color: var(--background-primary);
    margin-left: 12px;
    border-radius: 4px;
    ol {
        list-style: none;
        padding-left: 16px;
        border-left: 3px solid var(--background-secondary);
        margin-bottom: 0px;
        margin-top: 0px;
    }

    & > ol {
        padding-left: 0;
    }
}
.toc-container {
    border-left: 2px solid var(--text-accent);
}
.toc-title-container {
    margin-bottom: 12px;
}

.backlinks {
    padding: 12px;
   .backlink-title {
        margin: 12px 0;
    }
}
.backlink-list {
    border-left: 2px solid var(--text-accent);
    margin-top: 16px;
}
.backlink-card {
    margin-left: 16px;
}
